@model int
@{
    ViewData["Title"] = "Register";
}

<p>Tst @Model</p>
<div style="padding: 10px">
    <h2>Tárgynév: **</h2>
    <h3>Tárgykód: **</h3>
    <p>Kredit: **</p>
    <p>Tárgyfelelős: **</p>
    <p>Ajánlott félév: **</p>

</div>


