html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

#content {
    font-family: 'Roboto', sans-serif;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0;
    float: none;
}

.navbar-inner {
    text-align: center;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.container {
    height: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
